---
import { cn } from '@/libs/cn';

const socials = [
  {
    label: 'Bluesky',
    url: 'https://bsky.app/profile/it-tools.tech',
    icon: 'i-tabler-brand-bluesky',
  },
  {
    label: 'GitHub',
    url: 'https://github.com/CorentinTh/it-tools',
    icon: 'i-tabler-brand-github',
  },
  {
    label: 'X (Twitter)',
    url: 'https://x.com/ittoolsdottech',
    icon: 'i-tabler-brand-x',
  },

 
];

const sections: {
  title: string;
  links: { label: string; url: string; target?: string; rel?: string }[];
}[] = [
  {
    title: 'Community',
    links: socials,
  },
  {
    title: 'Open Source',
    links: [
      {
        label: 'Repository',
        url: 'https://github.com/CorentinTh/it-tools',
      },
      {
        label: 'Contributing',
        url: 'https://github.com/CorentinTh/it-tools/blob/main/CONTRIBUTING.md',
      },
      {
        label: 'Code of Conduct',
        url: 'https://github.com/CorentinTh/it-tools/blob/main/CODE_OF_CONDUCT.md',
      },
      {
        label: 'License',
        url: 'https://github.com/CorentinTh/it-tools/blob/main/LICENSE',
      },
    ],
  },
];
---

<footer class="bg-card border-t border-border py-8 text-muted-foreground light:bg-muted">
  <div class="max-w-screen-lg mx-auto p-6">
    <div class="flex justify-between flex-col md:flex-row gap-10">
      <div>
        <a href="/" class="text-xl inline-flex items-center group mb-2">
          <div class="i-solar-programming-line-duotone size-7 text-primary group-hover:(rotate-12deg) transition transform"></div>
          <span class="ml-2 text-foreground group-hover:text-foreground/80 transition">IT-Tools</span>
        </a>

        <div class="flex gap-2">
          {
            socials.map(social => (
              <a href={social.url} class="hover:text-primary transition" target="_blank" rel="noopener noreferrer" aria-label={social.label}>
                <div class={`${social.icon} text-2xl`} aria-hidden="true" />
              </a>
            ))
          }
        </div>

        <p class="mt-4 text-sm max-w-420px">
          IT-Tools is made in Europe with <span class="i-tabler-heart-filled size-3.5 mb--0.3 text-primary inline-block"></span>
          by <a href="https://corentin.tech" class="text-primary border-b hover:border-b-primary transition">Corentin Thomasset</a>.
        </p>
      </div>

      <div class={cn('grid gap-10 grid-cols-1', `sm:grid-cols-${sections.length}`)}>
        {
          sections.map(section => (
            <div>
              <div class="text-foreground font-semibold">{section.title}</div>
              <div class="mt-2">
                {section.links.map(link => (
                  <a href={link.url} class="block hover:text-primary transition py-0.75 font-medium" target={link.target} rel={link.rel}>
                    {link.label}
                  </a>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="mt-8 border-t border-border pt-4">
      © {new Date().getFullYear()} IT-Tools. All rights reserved.
    </div>
  </div>
</footer>